{% extends "base.html" %}
{% block content %}

<h3 class="center-align teal-text uppercase bold">Add a Recipe</h3>    

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="row">
            <div class="input-field col s6">
                <input id="recipe_name" name="recipe_name" type="text" data-length="40" class="">
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="recipe_description" name="recipe_description" class="materialize-textarea" data-length="200"></textarea>
                <label for="recipe_description">Recipe description</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s3">
                <input id="prep_time" name="prep_time" type="number" class="materialize-textarea validate" data-length="4"></input>
                <label for="prep_time">PREP TIME - MIN<i class="teal-text far fa-clock"></i></label>
            </div>
            <div class="input-field col s3">
                <input id="cook_time" name="cook_time" type="number" class="materialize-textarea" data-length="4"></input>
                <label for="cook_time">COOK TIME - MIN <i class="teal-text far fa-clock"></i></label>
            </div>
            <div class="input-field col s3">
                <input id="servings" name="servings" type="number" class="materialize-textarea" data-length="4"></input>
                <label for="servings">SERVINGS<i class="teal-text far fa-user"></i></label>
            </div>
            <div class="switch col s3">
                <p>Publish now?</p>
                <label>
                  No<input id="publish" name="publish" type="checkbox">
                  <span class="lever"></span>
                  Yes
                </label>
              </div>
        </div>
        <div class="row">
            <div class="input-field col s12 ingredients-wrapper">
                <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea ingredient-field" data-length="20"></textarea>
                <textarea id="recipe_ingredients1" name="recipe_ingredients" class="materialize-textarea ingredient-field" data-length="20"></textarea>
                <textarea id="recipe_ingredients2" name="recipe_ingredients" class="materialize-textarea ingredient-field" data-length="20"></textarea>
                <label for="recipe_ingredients">Add measure and ingredients per field.</label>
                <button class="addIngredient">Add field <i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 steps-wrapper">
                <textarea id="steps" name="steps" class="materialize-textarea" data-length="120"></textarea>
                <textarea id="steps1" name="steps" class="materialize-textarea" data-length="120"></textarea>
                <textarea id="steps2" name="steps" class="materialize-textarea" data-length="120"></textarea>
                <label for="steps">Separate each steps with period.</label>
                <button class="addStep">Add field <i class="fas fa-plus"></i></button>
            </div>
        </div>
    
        <div class="row">
            <button type="submit" class="col s4 offset-m4 btn-large teal darken-2 text-lighten-4">ADD RECIPE</button>
        </div>
    </form>
  </div>

{% endblock %}