<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" type="text/css" 
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">

    {% block styles %}
    {% endblock %}
    <title>Recipes Desk</title>
</head>
<body>

    <header>
        <div class="navbar-fixed">
            <nav class="nav-extended deep-orange lighten-4">
                <div class="nav-wrapper">
                    <a href="{{ url_for('get_recipes') }}" id="logo" class="brand-logo grey-text text-darken-4">REC!PEDESK</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger left"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('get_recipes') }}" class="grey-text text-darken-4">HOME</a></li>
                        {% if session.user %}
                            <li><a href="{{ url_for('my_recipes', username=session['user']) }}" class="grey-text text-darken-4">MY RECIPES</a></li> 
                            <li><a href="{{ url_for('add_recipe') }}" class="grey-text text-darken-4"><i class="fas fa-plus"></i></a></li>
                            <li><a href="#" class="grey-text text-darken-4"><i class="far fa-heart"></i></a></li>
                            <li><a href="#" class="grey-text text-darken-4"><i class="far fa-bookmark"></i></a></li>
                            <li><a href="{{ url_for('logout') }}" class="grey-text text-darken-4"><i class="fas fa-power-off"></i></a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}" class="grey-text text-darken-4">LOG IN</a></li>
                            <li><a href="{{ url_for('sign_up') }}" class="grey-text text-darken-4">SIGN UP</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
          <!--mobile nav-->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
            <li><a href="{{ url_for('my_recipes', username=session['user']) }}">My Recipes</a></li> 
            <li><a href="{{ url_for('add_recipe') }}"><i class="fas fa-plus grey-text text-darken-4"></i></a></li>
            <li><a href="#"><i class="far fa-heart grey-text text-darken-4"></i></a></li>
            <li><a href="#"><i class="far fa-bookmark grey-text text-darken-4"></i></a></li>
            <li><a href="{{ url_for('logout') }}"><i class="fas fa-power-off grey-text text-darken-4"></i></a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
        </ul>

    </header>

  <!-- Modal Structure -->
    

  <div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash col s12 m4 offset-m4 deep-orange lighten-4">
                {% for message in messages %}
                    <p class="center-align grey-text text-darken-4">{{ message }}</p>
                {% endfor %}  
            </div>
        {% endif %}
    {% endwith %}  

    {% block content %}
    {% endblock %}


</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>